In [1]:
import pandas as pd
import numpy as np

In [2]:
mdf = pd.read_csv('matches.csv')

In [3]:
df = pd.read_csv('deliveries.csv')

In [4]:
df.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
matchID = 1

In [6]:
df = df[(df.match_id == 1) & (df.inning == 2)]

In [7]:
df.player_dismissed.unique()

array([nan, 'Mandeep Singh', 'CH Gayle', 'KM Jadhav', 'TM Head',
       'Sachin Baby', 'STR Binny', 'SR Watson', 'S Aravind', 'TS Mills',
       'YS Chahal'], dtype=object)

In [8]:
players = list(df.batsman.unique())

In [9]:
players

['CH Gayle',
 'Mandeep Singh',
 'TM Head',
 'KM Jadhav',
 'SR Watson',
 'Sachin Baby',
 'STR Binny',
 'S Aravind',
 'YS Chahal',
 'TS Mills',
 'A Choudhary']

In [10]:
runs_ls = []
balls_ls = []

for player in players:
    temp_df = df[df.batsman == player]
    
    if len(temp_df) > 0: 
        runs_ls.append(sum(temp_df.batsman_runs))
        balls_ls.append(len(temp_df))
    else:
        runs_ls.append(0)
        balls_ls.append(0)

In [11]:
players_dismissed = list(df.player_dismissed.unique())

In [12]:
players_dismissed

[nan,
 'Mandeep Singh',
 'CH Gayle',
 'KM Jadhav',
 'TM Head',
 'Sachin Baby',
 'STR Binny',
 'SR Watson',
 'S Aravind',
 'TS Mills',
 'YS Chahal']

In [13]:
players

['CH Gayle',
 'Mandeep Singh',
 'TM Head',
 'KM Jadhav',
 'SR Watson',
 'Sachin Baby',
 'STR Binny',
 'S Aravind',
 'YS Chahal',
 'TS Mills',
 'A Choudhary']

In [14]:
df.dismissal_kind.unique()

array([nan, 'bowled', 'caught', 'run out'], dtype=object)

In [15]:
out_no_ls = []
fielder_ls = []
bowler_ls = []

for player in players:
    if player in players_dismissed:
        out_no_ls.append('out')
        temp_df = df[df.player_dismissed == player]
        out_type = temp_df['dismissal_kind'].item()
        
        if out_type == 'caught':
            fielder_ls.append(temp_df['fielder'].item())
            bowler_ls.append(temp_df['bowler'].item())
        elif out_type == 'bowled':
            fielder_ls.append('')
            bowler_ls.append(temp_df['bowler'].item())
        else:
            fielder_ls.append( 'runout' + '(' + str(temp_df['fielder'].item()) + ')')
            bowler_ls.append('')
        
    else:
        out_no_ls.append('no')
        fielder_ls.append('')
        bowler_ls.append('')

In [16]:
out_no_ls, fielder_ls, bowler_ls

(['out', 'out', 'out', 'out', 'out', 'out', 'out', 'out', 'out', 'out', 'no'],
 ['DA Warner',
  '',
  'Yuvraj Singh',
  'runout(BCJ Cutting)',
  'MC Henriques',
  'MC Henriques',
  'Yuvraj Singh',
  '',
  'runout(CJ Jordan (sub))',
  'DA Warner',
  ''],
 ['DJ Hooda',
  'Rashid Khan',
  'Rashid Khan',
  '',
  'A Nehra',
  'Bipul Sharma',
  'B Kumar',
  'A Nehra',
  '',
  'B Kumar',
  ''])

In [17]:
runs_balls_list = []

for i in range(len(players)):
    if out_no_ls[i] == 'no':
        runs_balls_list.append( str(runs_ls[i]) + '*' + ' (' + str(balls_ls[i]) + ' )' )
    else:
        runs_balls_list.append( str(runs_ls[i]) + ' (' + str(balls_ls[i]) + ' )' )

In [18]:
for i in range(len(players)):
    print(players[i], ' ', fielder_ls[i], bowler_ls[i], runs_balls_list[i])

CH Gayle   DA Warner DJ Hooda 32 (23 )
Mandeep Singh    Rashid Khan 24 (16 )
TM Head   Yuvraj Singh Rashid Khan 30 (22 )
KM Jadhav   runout(BCJ Cutting)  31 (18 )
SR Watson   MC Henriques A Nehra 22 (17 )
Sachin Baby   MC Henriques Bipul Sharma 1 (3 )
STR Binny   Yuvraj Singh B Kumar 11 (10 )
S Aravind    A Nehra 0 (2 )
YS Chahal   runout(CJ Jordan (sub))  3 (7 )
TS Mills   DA Warner B Kumar 6 (3 )
A Choudhary     6* (2 )

In [19]:
scorecard_dict = {'player':players, 'fielder':fielder_ls, 'bowler':bowler_ls, 'runs':runs_balls_list}

In [20]:
pd.DataFrame(scorecard_dict)

           player                  fielder        bowler      runs
0        CH Gayle                DA Warner      DJ Hooda  32 (23 )
1   Mandeep Singh                            Rashid Khan  24 (16 )
2         TM Head             Yuvraj Singh   Rashid Khan  30 (22 )
3       KM Jadhav      runout(BCJ Cutting)                31 (18 )
4       SR Watson             MC Henriques       A Nehra  22 (17 )
5     Sachin Baby             MC Henriques  Bipul Sharma    1 (3 )
6       STR Binny             Yuvraj Singh       B Kumar  11 (10 )
7       S Aravind                                A Nehra    0 (2 )
8       YS Chahal  runout(CJ Jordan (sub))                  3 (7 )
9        TS Mills                DA Warner       B Kumar    6 (3 )
10    A Choudhary                                          6* (2 )

In [21]:
scorecard_df = pd.DataFrame(scorecard_dict)

In [22]:
# scorecard_df.to_csv('scorecard.csv')