In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
# pandas : func1, func2, func3, var1, var2, var3
# f = pd.func1

In [4]:
# csv, excel, json, ...

In [5]:
# players = 'Krunal', 'Hardik', 'Pollard'
# runs = 15, 23, 47

In [8]:
pd.DataFrame({'players': ['Krunal', 'Hardik', 'Pollard'], 'runs':[15, 23, 47]})

   players  runs
0   Krunal    15
1   Hardik    23
2  Pollard    47

In [9]:
pd.DataFrame({'players': ['Krunal', 'Hardik', 'Pollard'], 'runs':[15, 23, 47], 'balls':[10, 20, 17]})

   players  runs  balls
0   Krunal    15     10
1   Hardik    23     20
2  Pollard    47     17

In [10]:
df = pd.DataFrame({'players': ['Krunal', 'Hardik', 'Pollard'], 'runs':[15, 23, 47], 'balls':[10, 20, 17]})

In [11]:
df

   players  runs  balls
0   Krunal    15     10
1   Hardik    23     20
2  Pollard    47     17